:root{
  --mainGold:#daa520;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#323334;
  --mainOrange:#ff8c00;
}

body{
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.text-title{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--lightBlue);
}

.text-bright{
  color:var(--mainGold);
}
.text-black{
  color: var(--mainDark);
}

.btn-gold{
  background:transparent;
  text-transform: capitalize;
  font-size:0.8 rem !important;
  color:var(--mainWhite)!important;
  border-radius: 0 !important;
  border:0.1rem solid var(--mainGold) !important;

}  

.btn-gold:hover{
  background:var(--mainWhite) !important;
  color:var(--mainGold) !important;
}
.cart-icon{
  cursor: pointer;
  font-size:1.2rem;
  color:var(--mainOrange);
  }